reset

*{margin: 0px;padding: 0px;box-sizing: border-box;}
ul{list-style-type: none;}
a{text-decoration: none;color: black}

.container{width: 80%;margin: auto; ;}
img{width: 100%;}


.container{width: 80%;margin: auto;}

.container{width: 80%;margin: 0 auto; max-width: 1200px;}

/*fim reset*/
/*header desktop*/
.topo{width: 100%; height: 60px; position: sticky;top: 0;z-index: 99; display: flex; background-color: lightgray;}
.topo .container{display: flex; justify-content: space-between; align-items: center; padding: 5px;}
.topo h1{ font-size: 1.5em; letter-spacing: 0.1em;  font-weight: bold;}
.menu1 ul, .menu2 ul{display: flex; justify-content: space-around;}
.menu1 li,.menu2 li{margin-left: 0.3em;}
.menu1 li a, .menu2 li a{text-transform: uppercase; font-size:0.9em;padding: 5px 15px; }
.menu1 li a:hover{border-bottom: 1px solid black;}
.cont-oculto{display: none;}
/* main */
.topsection{width: 100%; height: 100px; background-color: darkgrey; display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;text-transform: uppercase;letter-spacing: 0.1em;}
.topsection p{display: none;}

/* topo do conteudo */
.maintopo .container{ display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;}
.card{width: 80%;  margin-top: 1em; margin-bottom: 1em;}
.card h2{margin: 1em;}
.card img{border-radius: 3em;}
.card p{margin: 1em; text-align: left; line-height: 1.5em; letter-spacing: 0.2em; font-weight: bold;}

main{
    background-color: rgb(202, 202, 202);
}
.foto.container{
    width: 100%;
}
.foto{
    background-image: url("../images/Slider_Padrão_blog-1-1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.image{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    
    
}
.image h1{
   margin: 1em;; 
}
.image img{
    width: 40%;
   
}

.friends{
    background-color:rgb(187, 187, 187);
    color: black;
    padding: 15px;
    margin: auto;
    width: 250px;
    text-align: center;
    font-size: 25px;
}
.friends a{
    padding: 35px;
}
.friends a:hover{
    color: white;
}
.form_cadastro{
    width: 80%;
    max-width: 100%;
    height: 350px;
    box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 1.5em;
    background-color: gray;
}
.campo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    color: white;
}
.campo label{
    text-transform: uppercase;
}
fieldset{
    color: white;
}
input[type="text"],
input[type="date"],
select{
    border: none;
    background-color: #4e4e4e;
    color: #ccc;
    border-bottom: 1px solid #474747;
    width: 60%;
    padding: 0.5em;
}
input:focus, select:focus{
    outline: none;
    background-color: #474747;
    box-shadow: 0px 0px 5px #474747;
    border-bottom: 1px solid var(--purple)
}
.chatinfo {
    text-align: center;
    font-size: 10px;
    padding: 25px;
    background-color: rgb(48, 46, 46);
    color: white;
    
}

.chats.container{
    width: 100%;
}

/* rodape */
.rodape{width: 100%; background-color: darkgray;display: flex; justify-content: flex-end; flex-direction: column; }
.rodape .parte1, .parte2{width: 100%; background-color: gray;display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;}
.rodape .parte1 p{width: 60%; margin: 1em; text-align: left; letter-spacing: 0.2em;}
.parte2{background-color: black;color: white; height: 50px;}

/*responsividade header*/
@media(min-width: 768px){
    /* topo main */
    .topsection p{ display: block;}
    .topsection{width: 100%; height: auto; background-color: darkgrey; display: flex; text-transform: uppercase;letter-spacing: 0.1em;}
    .cont-oculto{display: block;}
    
}

@media(min-width: 768px){
    .foto{
    background-image: url("../images/Dia-do-Idoso-1.jpg ");
    background-attachment: fixed;
    background-repeat: no-repeat;
    }
    .image img{
        width: 35%;
       
    }
    .form_cadastro{
        width: 80%;
    }
}
@media(min-width: 1200px){
    .image{
        display: block;
        width: 80%;
        padding-top: 3em;
        
    }
    .foto{
      display: flex; 
    }
    .friends{
        align-items: center;
        margin-right: 25px;
    }
    .chats.container{
        width: 100%;
    }
    .form_cadastro{
        height: 500px;

    }
    .campo{
        height: 60px;
        font-size:  25px;
    }
 
}